* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: none;
}

body {
	background-color: #181818;
    color: white;
    font-family: Lexend;
    font-weight: 200;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding: 1rem;
}

.hero1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #202020;
    margin: 20px;
    border-radius: 15px;
    width: 50vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.hero1:hover {
    background-color: #2a2a2a;
}

.hero2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #202020;
    margin: 20px;
    border-radius: 15px;
    width: 50vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.hero2:hover {
    background-color: #2a2a2a;
}

.hero1>h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    padding: 20px;
    font-size: 4vw;
}

.hero2>h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    padding: 20px;
    font-size: 4vw;
}


#sacredflame {
    width: 25vw;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
}

#sanguineembrace {
    width: 25vw;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 10px;
}

.content {
    padding: 2rem;
}

.top-nav {
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
    z-index: 10;
}

header {
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: black;
}

#banner {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

header>img {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #151515;
    text-align:center;
    font-size: 1rem;
    padding: 10px;
    z-index: 5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #e7e7e7;
    color: #181818;
  }