* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: none;
}

body {
	background-color: #181818;
    color: white;
    font-family: Lexend;
    font-weight: 200;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero>h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding: 30px;
}

#sacredflame {
    width: 20vw;
    top: 0;
    left: 0;
    z-index: -1;
}

#sanguineembrace {
    width: 20vw;
    top: 0;
    right: 0;
    z-index: -1;
}

.top-nav {
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, .3);
    z-index: 2;
}

header {
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: black;
}

#banner {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

header>img {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #151515;
    text-align:center;
    font-size: 0.8em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #e7e7e7;
    color: #181818;
  }