* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: none;
}

body {
	background-color: #181818;
    color: white;
    font-family: Lexend;
    font-weight: 200;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: repeating-linear-gradient(
    -25deg,
    #101010,
    #101010 5px,
    #121212 5px,
    #121212 10px
  );
  -webkit-tap-highlight-color: transparent;
}

header {
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: black;
    border-bottom: 2px solid #252525;
    z-index: 8;
}

header>img {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#banner {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

.top-nav {
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
    z-index: 10;
    border-bottom: 2px solid #303030;
}

#logo {
    height: 5vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  li {
    float: left;
  }

  li:hover {
    background-color: #474747;
    color: #181818;
    font-weight: 400;
  }
  
  li a {
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .hero>a {
    text-decoration: none;
    color: white;
    margin: 10px;
    list-style-type: none;
  }

  .heroPage>a {
    text-decoration: none;
    color: white;
    margin: 10px;
    list-style-type: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  /*li a:hover {
    background-color: #848484;
    color: #181818;
    font-weight: 400;
  }*/

  .activeLink {
    background-color: #383838;
    color: white;
    font-weight: 400;
    border-bottom: 2px solid green;
  }

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}


.herocard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    margin: 20px 0px 10px 0px;
    border: 1px solid transparent inset;
    border-radius: 15px;
    width: 48vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.herocard:hover {
    background-color: #404040;
    border: 1px solid rgb(91, 227, 91);
    cursor: pointer;
}

.heroPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.heroPageCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    margin: 20px 0px 10px 0px;
    border: 1px solid transparent inset;
    border-radius: 15px;
    width: 50vw;
    height: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.heroPageCard:hover {
    background-color: #404040;
    border: 1px solid rgb(91, 227, 91);
    cursor: pointer;
}


/*.herocard>h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    padding: 20px;
    font-size: 4vw;
}*/

#sacredflame {
    width: 45%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
}

#sacredFlameText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#sacredFlameText>h1 {
    font-size: 3vw;
    font-weight: 300;
    text-align: center;
}

#sacredFlameText>p {
    font-size: 2vw;
    text-align: center;
    padding: 0 10px;
}

#sanguineembrace {
    width: 45%;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 10px;
}

#sanguineEmbraceText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#sanguineEmbraceText>h1 {
    font-size: 3vw;
    font-weight: 300;
    text-align: center;
}

#sanguineEmbraceText>p {
    font-size: 2vw;
    text-align: center;
    padding: 0 10px;
}

.content {
    padding: 1rem 2rem 1rem 2rem;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #151515;
    text-align:center;
    font-size: .8rem;
    padding: 10px;
    z-index: 3;
}

@media only screen and (max-width: 720px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .herocard {
        width: 90vw;
        margin: 10px 0px;
    }
    .heroPageCard {
        width: 90vw;
        margin: 10px 0px;
    }
    #sacredFlameText>h1 {
        padding: 10px;
        font-size: 5vw;
    }
    #sacredFlameText>p {
        padding: 0 20px;
        font-size: 3vw;
    }
    #sanguineEmbraceText>h1 {
        padding: 10px;
        font-size: 5vw;
    }
    #sanguineEmbraceText>p {
        padding: 0 20px;
        font-size: 3vw;
    }
    li a {
        padding: 8px 10px;
    }
  }