* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: none;
}

html {
    scroll-padding-top: 40px;
}

body {
	background-color: #181818;
    color: white;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: repeating-linear-gradient(
    -35deg,
    #101010,
    #101010 2px,
    #121212 2px,
    #121212 5px
  );
    -webkit-tap-highlight-color: transparent;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
}

header {
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: black;
    border-bottom: 2px solid #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

header>img {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#banner {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

.top-nav {
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
    z-index: 10;
}

.logo {
    height: 5vh;
    padding: 3px;
}

#nav-link {
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

.activeLink {
    background-color: #303030;
    color: white;
    font-weight: 400;
    border-bottom: 2px solid rgb(251, 198, 24);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  li {
    float: left;
  }

  li:hover {
    color: #181818;
    font-weight: 400;
  }
  
  li a {
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
    border-bottom: 2px solid transparent;
  }

  li a:hover {
    border-bottom: 2px solid rgb(251, 198, 24);
    background-color: #303030;
  }

  .hero>a {
    text-decoration: none;
    color: white;
    margin: 10px;
    list-style-type: none;
    -webkit-tap-highlight-color: transparent;
  }

  .heroPage>a {
    text-decoration: none;
    color: white;
    margin: 10px;
    list-style-type: none;
    -webkit-tap-highlight-color: transparent;
  }

.pageHeadText {
    padding: 20px 10px 0px 10px;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}


.herocard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    margin: 20px 0px 10px 0px;
    border: 1px solid transparent inset;
    border-radius: 15px;
    width: 48vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.herocard:hover {
    background-color: #404040;
    border: 1px solid rgb(251, 198, 24);
    cursor: pointer;
}

.heroPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.heroPageCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    align-items: center;
    padding: 5px;
    border: 1px solid transparent inset;
    border-radius: 15px;
    width: 50vw;
    height: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.heroPageCard:hover {
    background-color: #404040;
    border: 1px solid rgb(251, 198, 24);
    cursor: pointer;
}

/*.heroPageCardImage {
    object-fit: contain;
}*/

#sacredflame {
    max-width: 50%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    flex-shrink: 0;
}

#sacredFlameText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

#sacredFlameText>h1 {
    font-size: 3vw;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

#sacredFlameText>p {
    font-size: 2vw;
    text-align: center;
    padding: 0 10px;
}

#sanguineembrace {
    max-width: 50%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    flex-shrink: 0;
}

#sanguineEmbraceText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
    
}

#sanguineEmbraceText>h1 {
    font-size: 3vw;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

#sanguineEmbraceText>p {
    font-size: 2vw;
    text-align: center;
    padding: 0 10px;
}

.content {
    padding: 1rem 2rem 1rem 2rem;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #151515;
    text-align:center;
    font-size: .8rem;
    padding: 10px;
    z-index: 3;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 1200px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .herocard {
        width: 90vw;
        height: auto;
        margin: 10px 0px;
    }
    .heroPageCard {
        width: 90vw;
        height: auto;
        margin: 5px 0px;
        flex-direction: row;
        text-align: center;
    }

    #sacredFlameText>h1, #sanguineEmbraceText>h1 {
        padding: 10px;
        font-size: 4vw;
    }

    #sacredFlameText>p,
    #sanguineEmbraceText>p {
        padding: 0 20px;
        font-size: 4vw;
    }
    li a {
        padding: 20px 14px 20px 16px;
        -webkit-tap-highlight-color: transparent;
        text-align: center;
        height: 8vh;
    }
    .pageHeadText {
        font-size: 1.3rem;
    }
    .sidenav {
        width: 30%;
    }
    .rules-main {
        margin-left: 30%;
    }
  }


.navbar {
  background-color: #181818;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 2px 14px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 10;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #252525;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #454545;
  min-width: 160px;
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 10;
}

.dropdown-content a:hover {
  background-color: #505050;
  color: rgb(251, 198, 24);
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top:20; /* Stay at the top */
  left: 0;
  background-color: #202020; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #c7c6c6;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(251, 198, 24);
  border-left: 2px solid rgb(251, 198, 24);
  transition: ease-in-out .1s;
}

/* Style page content */
.rules-main {
  margin-left: 160px; /* Same as the width of the sidebar */
  box-sizing: border-box;
  padding: 20px;
  font-weight: 500;
  color: rgb(201, 201, 201);
}

.rules-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    pointer-events: none;
    box-sizing: border-box;
    width: 100%;
}

section h2 {
    color: rgb(248, 207, 72);
}

#playingfieldimage {
    width: 80%;
    display: block;
    margin: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(251, 198, 24);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}


.rulesimage {
    display: block;
    max-width: 60%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(251, 198, 24);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
    margin: auto;
}

span {
    color: rgb(248, 212, 121);
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 800px) {
    html {
        scroll-padding-top: 85px;
    }
}

@media (max-width: 400px) {
    .sidenav {
        display: none;
    }
    .rules-main {
        margin-left: 0;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 801px) {
    .rulesimage {
        max-width: 40%;
    }
}